DATABASE_URL=

R2_ACCOUNT_ID=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=
VITE_POSTHOG_HOST=

VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_SIGN_IN_URL=/sign-in

